html{
    scroll-behavior: smooth;
}
body{
    background-image: url(./img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container-fx{
    margin-left: 190px;
    margin-right: 190px;
}
.container-fx2{
    margin-left: 120px;
    margin-right: 120px;
}
.navbar{
    background-color: #007bff;
}
.navbar-brand{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.navbar-brand:hover{
    font-weight: bold;
    font-size: 25px;
    color: rgb(255, 255, 255);
}
.align-1{
    float: right;
    margin-left: 30px;
}
.align-2{
    float: right;
    margin-right: 30px;
}
.link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
}
.link:hover {
    text-decoration: none;
    font-weight: bold;
    background-color:#ffffff ;
    color: #007bff;
    font-size: 20px;
    padding: 20px;
}
.img-utama{
 width: 100%;
 height: 400px;
 margin-top: 50px;
}
.header-1{
    color: #007BFF;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin: 40px;
}
.header-2{
    color: #007BFF;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin: 40px;
    margin-top: 0px;
}
.row-news{
    margin-bottom: 60px;
}
.img-news{
    width: 100%;
    height: 250px;
}
.header-news{
    font-size: 35px;
    font-weight: bold;
    color: rgb(22, 22, 22);
}
.badge{
    font-size: 25px;
    padding: 15px;
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}
.badge:hover{
    background-color: rgb(22, 22, 22);
    color: white;
}

/* FOOTER */
.nav-margin2 {
    background-color: #007bff;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.nav-item {
    color: white;
    font-size: 30px;
    font-weight: bold;
    list-style: none;
}
.footer-margin {
    margin: 20px;
    text-align: center;
}
.footer-icon {
    margin-right: 40px;
}
.header-footer{
    padding: 10px;
    background-color: white;
    color: #007bff;
    font-family: 'Oswald', sans-serif;
}

/* MODIFY UNTUK JS */
.img-cuaca{
width: 300px;
margin-top: -50px;

}
.header-cuaca{
 font-weight: bold;
 text-decoration: underline;
}
.txt-cuaca{
    font-size: 20px;
}